@using CRUD_EjercicioCapitalSalud.Models

<h2>Gesti&oacuten de usuarios prueba Capital Salud</h2>

<div >
    <a id="crearUsuario" href="#" title="Nuevo" onclick="NuevoUsuario();">
        <i class="fas fa-plus"></i>
        <span>Nuevo Usuario</span>
    </a>
</div>

@(Html.DevExtreme().DataGrid<Usuario>()
    .ID("GridUsuario")
        .ShowBorders(true)
        .DataSource(d => d.Mvc().Controller("Orders").LoadAction("Get").InsertAction("Post").UpdateAction("Put").DeleteAction("Delete").Key("Id"))

        .Columns(columns =>
        {
            columns.AddFor(m => m.PrimerNombre);
            columns.AddFor(m => m.SegundoNombre);
            columns.AddFor(m => m.PrimerApellido);
            columns.AddFor(m => m.SegundoApellido);
            columns.AddFor(m => m.TipoDocumento);
            columns.AddFor(m => m.Documento);
        })
        .Editing(editing =>
        {
            editing.Mode(GridEditMode.Form);
            editing.AllowUpdating(true);
            editing.AllowDeleting(true);
            editing.UseIcons(true);
        })
        .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .GroupPanel(p => p.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .RemoteOperations(true)
)


<script>

    function NuevoUsuario() {
        $("#GridUsuario").dxDataGrid("instance").addRow();
    }

</script>